:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #989898;
  --root-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #3392ff;
}

a:hover {
  color: #3355ff;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.form-button {
  background-color: #3391ff;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 4.8rem;
  width: 26.8rem;
}

html, body {
  font-size: var(--root-font-size);
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-info, .register-info {
  top: 1rem;
  position: absolute;
  z-index: 999;
  background-color: white;
  width: 35rem;
  height: 6rem;
  border-radius: 1rem;
  color: #ff3333;
  font-weight: bold;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-header, .register-header {
  font-size: 3.6rem;
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
}

.password-reset-form {
  height: 20rem !important;
}

.login-menu, .register-menu {
  background-color: #ffffff;
  width: 35.2rem;
  height: 39.2rem;
  -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-menu form, .register-menu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-menu form .form-header, .register-menu form .form-header {
  font-size: 1.2rem;
  padding-top: 2.5rem;
  color: black;
}

.login-menu form .form-element, .register-menu form .form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 2.2rem 0px;
}

.login-menu form .form-element .form-element__label, .register-menu form .form-element .form-element__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-menu form .form-element .form-element__password--elements, .register-menu form .form-element .form-element__password--elements {
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.login-menu form .form-element .form-element__password--elements img, .register-menu form .form-element .form-element__password--elements img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
}

.login-menu form .form-element .form-element__input, .register-menu form .form-element .form-element__input {
  padding: 0.5rem;
  width: 26.8rem;
  height: 3.8rem;
  border: 1px solid #b6b6b6;
  border-radius: 0.2rem;
  font-size: 2rem;
}

.login-menu form .form-element .form-element__input:focus, .register-menu form .form-element .form-element__input:focus {
  outline: 5px solid rgba(51, 85, 255, 0.205);
  font-size: 2rem;
}

.login-menu form .form-element:last-child, .register-menu form .form-element:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-menu form .form-element__password, .register-menu form .form-element__password {
  margin-bottom: 0.5rem;
}

.login-menu form .form-element__info, .register-menu form .form-element__info {
  margin: 0px !important;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ca2f2f;
}

.login-menu form .form-element-message, .register-menu form .form-element-message {
  margin: 0 !important;
  font-size: 1.5rem;
  font-weight: bold;
}

.login-menu form .form-secondary-button, .register-menu form .form-secondary-button {
  width: 12rem;
  color: #989898;
  font-size: 1.3rem;
}

.login-menu form .form-secondary-button:hover, .register-menu form .form-secondary-button:hover {
  color: #306ECA;
}

.login-menu form .form-element__reset-password, .register-menu form .form-element__reset-password {
  width: 12rem;
  color: #989898;
  font-size: 1.3rem;
}

.login-menu form .form-element__reset-password:hover, .register-menu form .form-element__reset-password:hover {
  color: #3355ff;
}

.login-menu form .form-element__backtologin-button, .register-menu form .form-element__backtologin-button {
  width: 12rem;
  color: #989898;
  font-size: 1.3rem;
}

.login-menu form .form-element__backtologin-button:hover, .register-menu form .form-element__backtologin-button:hover {
  color: #3355ff;
}

.register-menu {
  height: 45rem;
}

.setup-menu {
  height: 45rem;
}

.setup-menu .form-element {
  margin: 1.2rem 0px !important;
}

@media only screen and (max-width: 457.6px) {
  .login-menu, .password-reset-form {
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
}
/*# sourceMappingURL=styles.css.map */