<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Arduino Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../source/css/login-setup-styles.css">
    </head>
    <body>

        <div class="login-header">
            <p>Arduino Dashboard</p>
        </div>

        <div class="setup-menu">

            <form class="setup-form" method="POST" action="/setup">
                
                <div class="form-element form-header">
                    <h1>Setup</h1>
                </div>

                <div class="form-element">
                    <label class="form-element__label">E-Mail Adresse</label>
                    <input name="username" class="form-element__input form-element__input--email" type="text" required>
                </div>
                
                <div class="form-element">
                    <label class="form-element__label">Password</label>
                    <input name="password" class="form-element__input form-element__input--password" type="password" required >
                </div>

                <div class="form-element">
                    <label class="form-element__label">Password Wiederholen</label>
                    <input name="password" class="form-element__input form-element__input--password" type="password" required >
                </div>

                <div class="form-element form-element-submit">
                    <button type="submit" class="form-element__submit-button form-button form-main-button">Registrieren</button>
                </div>

            </form>

        </div>
        
        <script src="/script/setup.js" async defer></script>
    </body>
</html>