<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form class="password-reset">
            <input class="password-reset-input" type="password" required>
            <button type="submit">Change Password</button>
        </form>
        
        <script src="/reset.js" async defer></script>
    </body>
</html>