:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #989898;
  --root-font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.form-button {
  background-color: #306ECA;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  border-radius: 0.6rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 4.8rem;
  width: 26.8rem;
}

html, body {
  font-size: var(--root-font-size);
  width: 100%;
  height: 100%;
}

body {
  background-color: #2D3D5C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-header {
  font-size: 3.6rem;
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
}

.password-reset-form {
  height: 20rem !important;
}

.login-menu {
  background-color: #ffffff;
  width: 35.2rem;
  height: 39.2rem;
  -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.4);
  border-radius: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-menu form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-menu form .form-header {
  font-size: 1.2rem;
  padding-top: 2.5rem;
  color: black;
}

.login-menu form .form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 2.2rem 0px;
}

.login-menu form .form-element .form-element__label {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

.login-menu form .form-element .form-element__input {
  background-color: #E7E7E7;
  padding: 0.5rem;
  width: 26.8rem;
  height: 4.8rem;
  border: none;
  border-radius: 0.2rem;
}

.login-menu form .form-element .form-element__input:focus {
  font-size: 2rem;
  border-bottom: 0.2rem solid #306ECA;
  background-color: rgba(185, 185, 185, 0.643);
  outline: none;
}

.login-menu form .form-element:last-child {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-menu form .form-element__reset-password {
  width: 12rem;
  color: #989898;
  font-size: 1.3rem;
}

.login-menu form .form-element__reset-password:hover {
  color: #306ECA;
}

.login-menu form .form-element__backtologin-button {
  width: 12rem;
  color: #989898;
  font-size: 1.3rem;
}

.login-menu form .form-element__backtologin-button:hover {
  color: #306ECA;
}

@media only screen and (max-width: 400px) {
  .login-menu {
    height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=login-styles.css.map */