<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ardunio Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./source/css/login.css">
    </head>
    <body>

        <div class="login-info" style="display: none;">
            <button class="login-info__close-window">close</button>
            <p></p>
        </div>

        <div class="login-header">
            <p>Ardunio Webinterface</p>
        </div>

        <div class="login-menu">

            <form class="login-form" style="display: block;">
                
                <div class="form-element form-header">
                    <h1>Login</h1>
                    <p>Not registered yet?
                        <a href="register"><strong>Register now</strong></a>
                    </p>   
                </div>

                <div class="form-element form-element__email">
                    <label class="form-element__label">E-Mail</label>
                    <input name="loginemail" class="form-element__input login-form-email" type="text">
                </div>
                
                <div class="form-element form-element__password">
                    <div class="form-element__password--elements">
                        <label class="form-element__label">Password</label>
                        <button type="button" class="show-password-button">
                            <img class="show-password-button__image" src="/img/login/eye-closed.png" width="15px" height="15px">
                            <strong class="show-password-button__text">Show</strong>
                        </button> 
                    </div>
                    <input name="loginpassword" class="form-element__input login-form-password" type="password">
                </div>

                <div class="form-element form-element__info">
                    <p></p>
                </div>

                <div class="form-element form-element-submit">
                    <button type="submit" class="form-element__submit-button form-button">Login</button>
                </div>

                <div class="form-element">
                    <button type="button" class="form-element__reset-password form-secondary-button ">Forgot Passwort</button>
                </div>

            </form>

            <form class="password-reset-form" style="display: none;">
                
                <div class="form-element form-header">
                    <h1>Reset Password</h1>
                </div>

                <div class="form-element form-element__email reset-form-element__email">
                    <label class="form-element__label">E-Mail</label>
                    <input name="password-reset-form-email" class="form-element__input password-reset-form-email" type="text"> 
                </div>

                <div class="password-reset-form-finish" style="display: none;">
                    <h2></h2>
                </div>
                
                <div class="form-element form-element__info" style="display: none;">
                    <p></p>
                </div>

                <div class="form-element reset-form-element-submit">
                    <button type="submit" class="form-element__submit-button form-button">Send E-Mail</button>
                </div>

                <div class="form-element">
                    <button type="Button" class="form-element__backtologin-button form-secondary-button ">Login</button>
                </div>
                
            </form>

        </div>
        
        <script src="./source/script/login.js" async defer></script>
    </body>
</html>