$font-size-text: 1rem;
$font-size-button: 1.125rem;
$font-size-currentvalue: 2rem;
$font-size-header2: 1.375rem;
$font-size-header1: 4rem;

$color-red: #FF6A6A;
$color-green: #7DD68E;
$color-gray: #707070; 
$color-dark-gray: #3B415A;
$color-purple: #6B2BD1;
$color-yellow: #FFD76A;