@font-face {
  font-family: "poppins semibold";
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poppins medium";
  src: url(../fonts/Poppins-Medium.ttf);
}

.background-hide {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #6B2BD160;
}

body {
  background-color: #6B2BD1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.header .header__button {
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 37px;
}

.heading-1 {
  color: white;
  font-size: 4rem;
  font-family: "poppins semibold";
}

.status-info {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  background-color: white;
  border-radius: 0.5rem;
  height: 28px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  vertical-align: middle;
}

.status-info p {
  font-size: 16px;
  font-family: "poppins medium";
}

.status-info--error {
  background-color: #FF6A6A !important;
  color: white !important;
  font-size: 16px;
  font-family: "poppins medium";
}

.status-info--animate .status-info__animation-section {
  width: 100%;
  height: 3px;
  position: relative;
  overflow: hidden;
  background-color: #7DD68E;
  border-radius: 20px;
}

.status-info--animate .status-info__animation-section:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 3px;
  width: 40%;
  background-color: white;
  -webkit-animation: lineAnim 1s linear infinite;
          animation: lineAnim 1s linear infinite;
}

@-webkit-keyframes lineAnim {
  0% {
    left: -40%;
  }
  50% {
    left: 20%;
    width: 80%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}

@keyframes lineAnim {
  0% {
    left: -40%;
  }
  50% {
    left: 20%;
    width: 80%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}

.arduino-overview-table {
  background-color: #3B415A;
  border-radius: 1rem;
  overflow: auto;
  -webkit-box-shadow: 0px 3px 6px #00000016;
          box-shadow: 0px 3px 6px #00000016;
}

.arduino-overview-table table {
  border-collapse: collapse;
  width: 100%;
}

.arduino-overview-table table thead {
  width: 100%;
  height: 61px;
  background-color: white;
}

.arduino-overview-table table thead th {
  width: 163px;
  text-align: left;
}

.arduino-overview-table table thead th .button-table-head {
  text-align: left;
  border: none;
  outline: none;
  background: none;
  font-size: 1.375rem;
  font-family: "poppins semibold";
  color: #707070;
}

.arduino-overview-table table thead th .button-table-head:hover {
  cursor: pointer;
  color: #3B415A;
}

.arduino-overview-table table thead th:first-child {
  padding-left: 51px;
}

.arduino-overview-table table thead th:last-child {
  text-align: right;
  padding-right: 37px;
}

.arduino-overview-table table tbody .table-row {
  height: 56px;
}

.arduino-overview-table table tbody .table-row .table-data-general {
  font-size: 18px;
  text-align: left;
  color: white;
  font-family: "poppins medium";
}

.arduino-overview-table table tbody .table-row .table-data-general:first-child {
  padding-left: 51px;
}

.arduino-overview-table table tbody .table-row .table-data-general:last-child {
  text-align: right;
  padding-right: 37px;
}

.arduino-overview-table table tbody .table-row:hover {
  background-color: #7DD68E20 !important;
  cursor: pointer;
}

.arduino-overview-table table tbody .table-row:nth-child(odd) {
  background-color: #FFFFFF15;
}

.arduino-overview-table .arduino-overview-table__body .arduino-overview-table__element {
  color: white;
  font-size: 1rem;
}

.table-row--active {
  background-color: #7DD68E54;
}

.button-general {
  background: none;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 22px;
  font-family: "poppins medium";
  letter-spacing: 0.064px;
  height: 38px;
  width: 8rem;
  color: white;
}

.button-general:hover {
  -webkit-transition: all .1s;
  transition: all .1s;
  background-color: white;
  cursor: pointer;
}

.button-general:hover {
  cursor: pointer;
}

.button-red {
  background-color: #FF6A6A;
  -webkit-box-shadow: 0px 3px 6px #00000016;
          box-shadow: 0px 3px 6px #00000016;
}

.button-red:hover {
  border: 2px solid #FF6A6A;
  color: #FF6A6A;
}

.button-red:active {
  color: white;
  background-color: #FF6A6A;
}

.button-green {
  background-color: #7DD68E;
  -webkit-box-shadow: 0px 3px 6px #00000016;
          box-shadow: 0px 3px 6px #00000016;
}

.button-green:hover {
  border: 2px solid #7DD68E;
  color: #7DD68E;
}

.button-green:active {
  color: white;
  background-color: #7DD68E;
}

.button-white {
  background-color: white;
  color: #3B415A !important;
  -webkit-box-shadow: 0px 3px 6px #00000016;
          box-shadow: 0px 3px 6px #00000016;
}

.button-white:hover {
  background-color: #3B415A !important;
  color: white !important;
}

.button-white:active {
  color: #3B415A !important;
  background-color: white !important;
}

.button-purple {
  border: 2px solid #6B2BD1;
  background-color: #6B2BD1;
  -webkit-box-shadow: 0px 3px 6px #00000016;
          box-shadow: 0px 3px 6px #00000016;
}

.button-purple:hover {
  border: 2px solid #6B2BD1;
  color: #6B2BD1;
}

.button-purple:active {
  color: white;
  background-color: #6B2BD1;
}

.button-table {
  width: 8rem;
  background: none;
  outline: none;
  border: none;
  text-align: center;
  padding: 0.3rem;
  font-size: 20px;
  color: white;
}

.button-table:hover {
  cursor: pointer;
}

.input-general {
  border: none;
  width: 19.3125rem;
  height: 2rem;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1.375rem;
  font-family: "poppins medium";
}

.input-general::-webkit-input-placeholder {
  color: #707070;
  font-size: 1rem;
}

.input-general:-ms-input-placeholder {
  color: #707070;
  font-size: 1rem;
}

.input-general::-ms-input-placeholder {
  color: #707070;
  font-size: 1rem;
}

.input-general::placeholder {
  color: #707070;
  font-size: 1rem;
}

.input-outline--red {
  border: 0.125rem solid #FF6A6A;
}

.input-outline--green {
  border: 0.125rem solid #7DD68E;
}

.menu-general {
  position: absolute;
  z-index: 200;
  width: 364px;
  top: 245px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  background-color: #3B415A;
  -webkit-box-shadow: 0px 3px 6px #00000016;
          box-shadow: 0px 3px 6px #00000016;
}

.menu-general-form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.menu-general-form input, .menu-general-form button {
  margin-bottom: 18px;
}

.menu-general-form .menu-general-button-container {
  width: 309px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arduino-options-menu {
  width: 236px;
  padding: 10px2;
}

.button-red--grayed {
  color: #3B415A;
  background-color: #707070;
}

.button-red--grayed:hover {
  color: #3B415A;
  background-color: #707070;
}

.button-red--grayed:active {
  color: #3B415A;
  background-color: #707070;
}

.widget-info {
  background-color: #3B415A;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 6px #00000016;
          box-shadow: 0px 3px 6px #00000016;
  padding-top: 24px;
  padding-bottom: 24px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.widget-info .widget-info__value {
  font-family: "poppins semibold";
  letter-spacing: 0.64px;
}

.widget-info .widget-info__unit {
  font-size: 1.142rem;
  font-family: "poppins semibold";
}

.widget-info .widget-info__description {
  font-size: 1.375rem;
  font-family: "poppins semibold";
}

.widget-gauge .widget-info__gauge {
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 32px;
  font-family: "poppins semibold";
  letter-spacing: 0.64px;
  /*
        background: 
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(
          rgb(23, 0, 128) 0% calc(99 * 1%),
            white 0% 1%  
        );*/
  background-color: red;
}

.widget-humidity {
  place-self: end center;
  width: 234px;
  height: 132px;
}

.widget-info__value--focus {
  font-size: 2rem;
}

.widget-info__value--green {
  color: #7DD68E;
}

.widget-info__value--yellow {
  color: #FFD76A;
}

@-webkit-keyframes update {
  0% {
    color: white;
  }
  25% {
    color: #7DD68E;
  }
  75% {
    color: #7DD68E;
  }
  100% {
    color: white;
  }
}

@keyframes update {
  0% {
    color: white;
  }
  25% {
    color: #7DD68E;
  }
  75% {
    color: #7DD68E;
  }
  100% {
    color: white;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.grid-container {
  padding-left: 200px;
  padding-top: 10px;
  padding-right: 212px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1258px 234px;
      grid-template-columns: 1258px 234px;
  -ms-grid-rows: 75px 132px 132px 185px 132px 132px;
      grid-template-rows: 75px 132px 132px 185px 132px 132px;
  -webkit-column-gap: 22px;
          column-gap: 22px;
  row-gap: 26px;
}

.header {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.arduino-overview-table {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
}

.widget-info-temperature {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}

.widget-info-activecount {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}

.widget-humidity {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
}

.widget-pressure {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
}

.widget-brightness {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 6;
  grid-row: 6;
}
/*# sourceMappingURL=index.css.map */