@import "./_components.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.grid-container {
    padding-left: 200px;
    padding-top: 10px;
    padding-right: 212px;

    display: grid;
    grid-template-columns: 1258px 234px;
    grid-template-rows: 75px 132px 132px 185px 132px 132px;     
    //repeat(6, 1080*0.75/6*1px);
    column-gap: 22px;  
    row-gap: 26px;  
}

.header {
    grid-column: 1; 
    grid-row: 1;
}

.arduino-overview-table {
    grid-column: 1;
    grid-row: 2/7;
}

.widget-info-temperature {
    grid-column: 2;
    grid-row: 2;
}

.widget-info-activecount {
    grid-column: 2;
    grid-row: 3;
}

.widget-humidity {
    grid-column: 2;
    grid-row: 4;
}

.widget-pressure {
    grid-column: 2;
    grid-row: 5;
}

.widget-brightness {
    grid-column: 2;
    grid-row: 6;
}